@font-face {
  font-family: 'Andre Handwriting';
  src: url(/AndreHandwriting.ttf) format('truetype');
}

.handwritten {
  font-family: 'Andre Handwriting', 'Brush Script MT';
}

.scene {
  scroll-behavior: smooth;
  scroll-snap-type: y;
}

.frame-one {
  background-image: linear-gradient(to right, black);
}

.frame-two {
  opacity: 0;
  background-image: linear-gradient(to top, #000000 0%, #1d1715 51%, #3f3f3c 100%);
}

.frame-three {
  background-image: linear-gradient(to right, #000000 0%, #1d1715 51%, #3f3f3c 100%);
}

.frame-four {
  background-image: linear-gradient(to bottom, #000000 0%, #1d1715 51%, #3f3f3c 100%);
}

.frame {
  scroll-snap-align: start;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.frame-one-heading {
  width: 100%;
  overflow: hidden;
  @media (min-width: 1024px) {
    width: 0;
  }
}

.frame-one-subheading {
  opacity: 0;
}

.frame-one.observed .frame-one-heading {
  animation: typeIn 2s steps(28) forwards;
}

.frame-one.observed .frame-one-subheading {
  animation: 2s fadeIn 1s forwards;
}

.frame-two.observed {
  animation: fadeIn 4s forwards;
}

.star {
  position: fixed;
  background: #fff;
  border-radius: 100%;
  box-shadow: 0 0 10px #fff;
}

@keyframes typeIn {
  to {
    width: 100%;
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
