node_modules
/build
.next
.vercel
.env
.env.local
.env.development
.env.development.local
.env.production
.env.production.local
.DS_Store

# Sentry Config File
.sentryclirc

# Volume folder
/data

# better-env (generated)
.env.preview
